*{
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    
}

body{
    min-width: 424px ;
}

.descuentos{
    background-color: #1cd1b0;
    padding: 15px;
    
}

.titulo{
    padding: 30px;
    background-color: #00669f ;
    box-shadow: 0px 10px 7px rgba(0,0,0,0.2);
}

header{
    position: sticky;
    top: 0px;
    z-index:100;
}

main{
    position: relative;
    display:flex;
    justify-content:space-evenly;
    top: 150px;
    flex-wrap: wrap;
}

.etiqueta{
    width: 300px;
    height: 527px;
    margin: 15px;
    position: relative;
    border-radius: 16px 16px 0 0;
    box-shadow: 0px 10px 7px rgba(0,0,0,0.2);
    transition: .5s
}

.fondo-batman{
    background-image: url('./imagenes/fondo-batman.png');
    height: 40%;
    background-repeat: no-repeat;
}

.foto-batman{
    background-image: url('./imagenes/perfil-batman.png');
}

.fondo-harley{
    background-image: url('./imagenes/fondo-harley.png');
    height: 40%;
    background-repeat: no-repeat;
}

.foto-perfil{
    height: 90px;
    width: 90px;
    background-position: top;
    background-size: 90px;
    border-radius: 50%;
    position:absolute;
    left: 34%;
    top: 150px;
}

.foto-harley{
    background-image: url('./imagenes/perfil-harley.png');
}

.corazon{
    position: absolute;
    left: 20px;
    top: 20px
}

.etiqueta h2{
    text-align: center;
    margin-top: 40px;
}

.etiqueta p {
    padding: 18px
}

.ver-mas{
    padding:15px;
    background-color: #00669f;
    color:#fff;
    width: 90px;
    margin: 0 auto;
    text-align:center;
}

.ver-mas:hover{
    cursor:pointer;
}

footer{
    height: 100px;
    background-color: #00669f;
    position: relative;
    top:200px;
    display: flex;
    justify-content: center;
}

footer p {
    color: #fff;
    margin: 0 auto;
    align-self: center;
}