
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.0/css/all.css');


body{
    margin:0;
    padding:0;
    font-family: 'Poppins', 'sans-serif';
}

.cabecera{
    /* background-color: #E6E6E6; */
    background-attachment: fixed, scroll;
    background-image: url('../img/foto-personal.png'), url('../img/baticueva.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: auto, cover;
    height: 190px;
    width: 100%;
}

.titulo, .subtitulo{
    background-color: #c4c4c4;
    color: #005677;
    text-transform: uppercase;
}

.titulo{
    font-weight: bold;
    font-size: 32px;
    text-align: center;
    letter-spacing: 10px;
}

.subtitulo{
    font-size: 20px;
    text-align: left;
    letter-spacing: 8px;
    padding-left: 15px;
}

.espacio{
    height: 150px;
}

span{
    font-weight: bold;
    font-style: italic;
}

a{
    text-decoration: none;
    color:white;
    margin-left: 30px;
}

footer{
    background-color: #005677;
    color: white;
    text-align: center;
}